<div class="panel panel-info">
  <div class="panel-heading">
    <h1>{{question.mainQ}}</h1> by {{question.name}}<br>
  </div>
  <div class="panel-body">
    <p>{{question.notes}}</p>
  </div>
</div>

<h3>Answers</h3>
<ul>
  {{#each question.answers as |answer|}}
  <li>by: {{answer.name}}</li>
  <li><p class="well well-lg">
    {{answer.explanation}}
  </p></li>
  {{/each}}
</ul>
<br>
{{new-answer saveAnswer="saveAnswer" question=question}}

<h2>Answers</h2>
