{{#if updateQuestionForm}}
  <h4>Edit</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name id="name" placeholder=question.name}}
        </div>

        <div class="form-group">
          <label for="mainQ">Question</label>
          {{input value=mainQ id="mainQ" placeholder=question.mainQ}}
        </div>

        <div class="form-group">
          <label for="notes">Additional Notes</label>
          {{input value=notes id="notes" placeholder=question.notes}}
        </div>

        <button {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateQuestionForm'}}>Edit This Question</button>
{{/if}}
